* {
	margin: 0;
}

@font-face {
	font-family: "PixelMplus";
	src: url("../font/PixelMplus12-Regular.eot?")	format('eot'),
		 url("../font/PixelMplus12-Regular.woff2") format('woff2'),
		 url("../font/PixelMplus12-Regular.woff")	format('woff'),
		 url("../font/PixelMplus12-Regular.ttf")	 format('truetype');
}
.PixelMplusClass {
	font-family: "PixelMplus";
}

body {
	overflow: hidden;
	background-color: #1a1b41;
	background-image: radial-gradient(#ffffff 1%, transparent 2%),
	radial-gradient(#ffffff 1%, transparent 2%);
	background-position: 0 0, 40px 40px;
	background-size : 80px 80px;
	font-family: PixelMplus;
}

.monacoin-logo {
	top:5%;
	width:100%;
	text-align:center;
	position:fixed;
}

.monacoin-logo img {
	filter: drop-shadow(0px 5px 5px #555555);
}

.monacoin-logo img:active {
	filter: drop-shadow(0px 0px 0px #555555);
}

.github-logo {
	bottom:14%;
	width:99%;
	text-align:right;
	position:fixed;
}

.textboard {
	bottom: 1%;
	left: 1%;
	right: 1%;
	height: 13%;
	font-size: 1rem;
	color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 0 4px #FFF inset;
	background-color: rgba(0,0,0,0.9);
	position:fixed;
}

.textboard-element {
	margin: 12px;
	white-space: nowrap;
	overflow: hidden;
}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.popup:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.popup.is-show {
	opacity: 1;
	visibility: visible;
}
.popup-inner {
	position:fixed;
	top: 1%;
	right: 1%;
	left: 1%;
	bottom: 20%;
	max-width: 98%;
	z-index: 2;
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 0 4px #FFF inset;
	background-color: rgba(0,0,0,0.9);
	overflow-y: auto;
}
.popup-inner img {
	width: 100%;
}
.close-btn{
	font-size: 200%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 20px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.black-background {
	position: fixed;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 1;
	cursor: pointer;
}

#versionTable{
	width: 40%;
}

#versionTable td{
	width: 10%;
}
#versionTable td+td{
	width: 30%;
	text-align: right;
}

#networkTable{
	width: 40%;
}
#networkTable td{
	width: 10%;
}
#networkTable td+td{
	width: 30%;
	text-align: right;
}

@media only screen and (max-device-width: 480px) {
	#versionTable{
		width: 100%;
	}
	#networkTable{
		width: 100%;
	}
}
