* {
	margin: 0;
}

body {
	overflow: hidden;
	background-color: #1a1b41;
	background-image: radial-gradient(#ffffff 1%, transparent 2%),
	radial-gradient(#ffffff 1%, transparent 2%);
	background-position: 0 0, 40px 40px;
	background-size : 80px 80px;
}

#graphIcon {
	top:5%;
	width:100%;
	text-align:center;
	position:fixed;
}

#graphIcon img {
	filter: drop-shadow(0px 5px 5px #555555);
}

#graphIcon img:active {
	filter: drop-shadow(0px 0px 0px #555555);

}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
}
.popup:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.popup.is-show {
	opacity: 1;
	visibility: visible;
}
.popup-inner {
	position: fixed;
	left: 50%;
	top: 0;
	bottom: 0;
	transform: translate(-50%);
	//transform: translate(-50%, -50%);
	width: 80%;
	max-width: 80%;
	padding: 50px;
	background-color: #d6f0ff;
	z-index: 2;
	overflow-y: auto;
}
.popup-inner img {
	width: 100%;
}
.close-btn{
	font-size: 400%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}
.black-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 1;
	cursor: pointer;
}
